<nav class="fh5co-nav" role="navigation">
    <div class="top">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>
    <div class="top-menu"> 
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="fh5co-logo"><a style="display: flex;align-items: center;" href="index.html"><img src="images/logo.png" style="width: 50px;" alt="">F.A.E.N<span>.</span></a></div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li class=""><a href="/">Inicio</a></li>
                    <!-- 	<li><a href="courses.html">Cursos</a></li>
                        <li><a href="teacher.html">Profesores</a></li>
                        <li><a href="about.html">Acerca de</a></li>
                        <li><a href="pricing.html">Precios</a></li> -->
                        <!-- <li class="has-dropdown">
                            <a href="blog.html">Blog</a>
                            <ul class="dropdown">
                                <li><a href="#">Diseño Web</a></li>
                                <li><a href="#">Comercio Electrónico</a></li>
                                <li><a href="#">Branding</a></li>
                                <li><a href="#">API</a></li>
                            </ul>
                        </li> -->
                        <li><a href="contact">Contacto</a></li>
                        <!-- <li class="btn-cta"><a href="#"><span>Iniciar Sesión</span></a></li>
                        <li class="btn-cta"><a href="#"><span>Crear un Curso</span></a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>